extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Jamie Murray

        p Full Stack JavaScript Developer


        .about-bio
          p I am a self taught front end web developer and have several years commercial experience designing and building responsive Umbraco websites. 
          p My passion for web development began during my time as a project manager at a software agency. Working alongside designers and developers to develop creative solutions sparked my interest to learn new skills.
          p After losing my job last year due to the Covid pandemic I identified a skill gap in Javascript and I am currently a student at Treehouse studying a Full Stack JavaScript Techdegree.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li SCSS/SASS
          li Umbraco
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Git and GitHub
          li Accessibility
          li Adobe XD


        h6 Contact Info

        ul(class='contactInfo')
          li 
            a(href='tel:44-7968-285-738') +44 7968 285 738
          li 
            a(href='mailto:jm1077@sky.com') jm1077@sky.com

        a.btn-link(href='https://www.linkedin.com/in/jamie-murray-0641a0116/' target='_blank')
          i(class="fab fa-linkedin")
          | LinkedIn
        a.btn-link(href='https://github.com/jamie1077' target='_blank') 
          i(class="fab fa-github-square")
          | GitHub
        a.btn-link(href='https://twitter.com/J_Murray77' target='_blank') 
          i(class="fab fa-twitter-square")
          | Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back