extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Here are some of the projects I have worked on and showcase my skills in JavaScript


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}` alt=`Thumbnail of ${project.project_name}`)
            h5= project.project_name
      