<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    script(src="https://kit.fontawesome.com/999f35e27e.js" crossorigin="anonymous")


  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/img/me.jpg', alt='Jamie Murray Profile')
        .dev-intro-box
          h5 Jamie Murray

          p I am a self taught front end web developer and have several years commercial experience designing and building responsive Umbraco websites and currently studying a Full Stack JavaScript Techdegree at Treehouse.

          a(href='/about') Learn More
            span &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Jamie Murray

      block content

  script(src='/static/js/script.js')