
/*
  Main styles
*/
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 1.125rem;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #58595b;
  background: #e7e6e6;
  transform: translateX(0px);
  transition: all 0.4s ease-out;
}

article {
  background: #fefefe;
}

h1{
  font-weight: bold;
  font-weight: 700;
}

h2,h3,h4,h5{
  font-weight: 700;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}


a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  background: #fefefe;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 30px;
}

.box {
  width: 100%;
  max-width: 1200px;
  padding: 40px 50px 30px;
  background: #fefefe;
  border-bottom: 1px solid #e7e6e6;
}

.box h1,
.box h6 {
  margin: 0 auto 8px;
}

.box h6 {
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.box li {
  font-size: 0.75rem;
}


/*
  Sidebar and mobile header
*/
nav {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

nav a {
  width: 100%;
  vertical-align: middle;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #58595b; 
  transition: all 1s ease;
}

nav a span {
  display: inline-block;
  font-weight: bold;
  font-size: 1.25rem;
}

nav a:hover{
  color: #26a9e0;
}

nav a:hover span{
  transform: translateX(-2px)
}

.sidebar {
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  min-height: 100%;
  padding: 20px;
  background: #e7e6e6;
}

.sidebar-info-box {
  margin: auto;
}

.thumbnail-box {
  padding: 0 10px;
}

.sidebar .thumbnail {
  width: 100%;
  max-width: 250px;
  border: 4px solid #fff;
}

.dev-intro-box {
  padding: 10px;
}

.sidebar h5 {
  color: #58595b;
  margin: 0 auto 0.5rem;
}

.sidebar p {
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 0.75rem;
  color: #58595b
}

.sidebar a {
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #58595b;
  transition: all 1s ease;
}

.sidebar a span{
  display: inline-block;
  font-weight: bold;
  font-size: 1.25rem;
  padding-left: 2px;
}

.sidebar a:hover{
  color: #26a9e0; 
}

.sidebar a:hover span{
  transform: translateX(2px);
}

.header {
  vertical-align: middle;
  color: #58595b;
  padding: 0.5rem;
  background: #e7e6e6;
  border-left: 1px solid #e7e6e6;
}

.header span {
  display: inline-block;
  font-weight: bold;
}

.header button {
  vertical-align: top;
  cursor: pointer;
  outline: none;
  position: relative;
  width: 20px;
  height: 16px;
  border: none;
  background: #e7e6e6;
  margin-top: 6px;
  margin-right: 10px;
  border-top: 2px solid #58595b;
  border-bottom: 2px solid #58595b;
}

.header button:after {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  width: 20px;
  height: 2px;
  background: #58595b;
}


/*
  Home page styles
*/
.portfolio-intro {
  max-width: 1200px;
  padding: 40px 50px 30px;
}

.portfolio-intro h1 {
  font-size: 1.5rem;
  margin: 0 auto 8px;
}

.portfolio-intro p {
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
}

.cell{
  transition: all 0.5s ease-in-out;
  position: relative;
}

.cell span{
  transition: all 0.5s ease-in-out;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 0;

}

.cell span:before{
  transition: all 0.5s ease-in-out;
  content: '';
  display: block;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
  
}

.cell span.project0:before{
  background: #9C89B8;
}
.cell span.project1:before{
  background: #df7991;
}
.cell span.project2:before{
  background: #6daed3;
}
.cell span.project3:before{
  background: #66aea1;
}
.cell span.project4:before{
  background: #c75b9b;
}

.cell img {
  max-width: 100%;
}

.cell a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-decoration: none;
  z-index: 2;
  text-align: center;
}

.cell a h5{
  position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-shadow: 0 1px 1px #58595b;
    padding: 8px;
}

.cell:hover{
  transform: scale(1.1);
}

.cell:hover span:before{
  background-color: #58595b;
  opacity: 0.7;
}

/* 
  About and project pages styles 
*/

.about-bio p {
  font-size: 1rem;
  padding-top: 40px;
}

.skills-contact-box ul {
  margin-bottom: 35px;
}

.project-img {
  width: 100%;
  max-width: 1065px;
  margin-bottom: 15px;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
}

.btn-link {
  display: block;
  color: #fefefe;
  width: 200px;
  margin: auto 0 5px 0;
  padding: 0.85em 1em;
  background-color:#58595b;
  border: 1px solid transparent;
}

.btn-link i{
  margin-right: 8px;
}

.btn-link:hover{
  background-color: #26a9e0;
}


/* 
  Tablet layout styles 
*/
@media screen and (min-width: 768px) {
  .sidebar h5 {
    font-size: 1.25rem;
  }

  .portfolio-intro h1 {
    font-size: 3rem;
  }

  .box {
    border-bottom: none;
  }

  .two-col .box:nth-of-type(1) {
    width: 70%;
    padding-right: 15px;
  }
  .two-col .box:nth-of-type(2) {
    width: 30%;
    padding-top: 50px;
    padding-left: 15px;
  }

  .cell {
    margin: 0 0 15px;
  }

  .cell h5 {
    font-size: 1.25rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}


/* 
  Desktop layout styles 
*/
@media screen and (min-width: 1024px) {
  .sidebar {
    left: 0;
  }

  .header {
    display: none;
  }

  .wrapper {
    margin-left: 300px;
    width: calc(100% - 300px);
  }

  .inner-wrapper {
    max-width: 1200px;
  }
}